<div id="ficha">
              <h4>Nuestra Política</h4> 
            <br /> 
          <p>Nuestra política de privacidad describe como recogemos, guardamos o utilizamos la información que recabamos a través de los diferentes servicios o páginas disponibles en este sitio. Es importante que entienda que información recogemos y como la utilizamos ya que el acceso a este sitio implica la aceptación nuestra política de privacidad.<p/> 
          <h4>Cookies</h4> 
          <br /> 
          <p>El acceso a este puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario concreto y permite guardar sus preferencias personales, así como información técnica como puedan ser visitas o páginas concretas que visite. Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su ordenador, pueden configurar su navegador a tal efecto.</p> 
          <p>La mayor parte de los navegadores de hoy en día permiten la gestión de las cookies de 3 formas diferentes:</p> 
          <p>Las cookies no se aceptan nunca.</p> 
          <p>El navegador pregunta al usuario si se debe aceptar cada cookie.</p> 
          <p>Las cookies se aceptan siempre.</p> 
          <p>El navegador también puede incluir la posibilidad de especificar mejor qué cookies tienen que ser aceptadas y cuáles no. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones: rechazar las cookies de determinados dominios; rechazar las cookies de terceros; aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra); permitir al servidor crear cookies para un dominio diferente. Además, los navegadores pueden también permitir a los usuarios ver y borrar cookies individualmente.</p> 
          <p>Google, como proveedor asociado, utiliza cookies para publicar anuncios en este sitio. Los usuarios pueden inhabilitar el uso de la cookie de DART a través del anuncio de Google y accediendo a la política de privacidad de la red de contenido:</p> 
          <p><a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a></p> 
          <p>Dispone de más información sobre las Cookies en:</p> 
          <p><a href="http://es.wikipedia.org/wiki/Cookie">http://es.wikipedia.org/wiki/Cookie</a></p> 
          <h4>Web Beacons</h4> 
          <br/> 
          <p>Este sitio puede albergar también web beacons (también conocidos por web bugs). Los web beacons suelen ser pequeñas imágenes de un pixel por un pixel, visibles o invisibles colocados dentro del código fuente de las páginas web de un sitio. Los Web beacons sirven y se utilizan de una forma similar a las cookies. Además, los web beacons suelen utilizarse para medir el tráfico de usuarios que visitan una página web y poder sacar un patrón de los usuarios de un sitio.</p> 
          <p>Dispone de más información sobre los web beacons en:</p> 
          <p><a href="http://es.wikipedia.org/wiki/Web_bug">http://es.wikipedia.org/wiki/Web_bug</a></p> 
          <h4>Terceros</h4> 
          <br/> 
          <p>En algunos casos, compartimos información sobre los visitantes de este sitio de forma anónima o agregada con terceros como puedan ser anunciantes, patrocinadores o auditores con el único fin de mejorar nuestros servicios. Todas estas tareas de procesamiento serán reguladas según las normas legales y se respetarán todos sus derechos en materia de protección de datos conforme a la regulación vigente.</p> 
          <p>Este sitio mide el tráfico con diferentes soluciones que pueden utilizar cookies o web beacons para analizar lo que sucede en nuestras páginas. Actualmente utilizamos las siguientes soluciones para la medición del tráfico de este sitio. Puede ver más información sobre la política de privacidad de cada una de las soluciones utilizadas para tal efecto:</p> 
          <p>Google (Analytics):</p> 
          <p><a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a></p> 
          <p>Este sitio también puede albergar publicidad propia, de afiliados, o de redes publicitarias. Esta publicidad se muestra mediante servidores publicitarios que también utilizan cookies para mostrar contenidos publicitarios afines a los usuarios. Cada uno de estos servidores publicitarios dispone de su propia política de privacidad, que puede ser consultada en sus propias páginas web.</p> 
          <p>Actualmente este sitio alberga o puede albergar publicidad de:</p> 
          <p>Google Adsense:</p> 
          <p><a href="http://www.google.com/intl/es_ALL/privacypolicy.html">http://www.google.com/intl/es_ALL/privacypolicy.html</a></p> 
            </div>  
            
            
            <br class="limpia" />
