@charset "UTF-8";
/* CSS Document */

h1, h2, h3, p, a, li, span, td, em {
	font-family: 'HalvettCondensedRegular', arial, serif;
	}
	
h1, h2, h3, p, a, li, td, em {
	font-size:14px;
	}

a {
	text-decoration:none;
	color:#8db437;
	}
	
a:hover {
	text-decoration:underline;
	}
	
h1 {
	font-size:32px;
	color:#737373;
	font-weight:bold;
}

h2 {
	font-size:22px;
	color:#a0a0a0;
	padding-bottom:15px;
}

h3 {
	font-size:14px;
	font-family: 'HalvettCondensedBold', arial, serif;
}
	
.limpia {
	clear:both;
	}
	
.gris-oscuro {
	
	color:#737373;
	
}

.gris-mas-oscuro {
	
	color:#666666;
	
	}

.gris-claro {
	
	color:#a0a0a0;
	
}

body {
	font-size:13px;
	color:#000;
	background-color:#fff;
	background-image:url(../images/fondo-menu-verde.jpg);
	background-repeat:repeat-y;
	background-position:left;
	}
	
#contenedor{
	width:960px;
	background-image:url(../images/fondo-menu-verde.jpg);
	background-repeat:repeat-y;
	padding: 0 0 20px 0;
	}
	
#izquierda{
	padding:24px 24px 0 23px;
	width:253px;
	float:left;
	background-image:url(../images/fondo-menu-verde.jpg);
	background-repeat:repeat-y;
}

#logo{
	padding:0 0 35px 7px;
	}
	
ul#menu {
	display:block;
	margin-bottom:40px;
	}

ul#menu li {
	display:block;
	font-size:12px;
	color:#7c8061;
	padding:12px 8px 0 8px;
	}
	
ul#menu li.activo {
	background-color:#FFF;
	background-color: rgba(255, 255, 255, 0.30);
	}
	
ul#menu li.activo span#t {
	font-family: 'HalvettCondensedBold', arial, serif;
	font-size:17px;
}
	
ul#menu li a {
	display:block;
	color:#8db437;
	font-family: 'HalvettCondensedBold', arial, serif;
	font-size:17px;
	}
	
ul#menu li span {
	display:block;
	}
	
ul#menu li .ico {
	margin-top:-5px;
	float:left;
	padding:0 5px 0 0;
	}
	
ul#menu li .linea-menu {
	display:block;
	}

#derecha{
	width:630px;
	/*padding:0 18px 0 18px;*/
	padding:0 0 0 18px;
	float:left;
	text-align:left;
	background-color:#FFF;
}

#social{
	width:355px;
	height:24px;
	float:right;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#e8e8e8;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#e8e8e8;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#e8e8e8;
}

#social .bloque{ 
	margin-top:4px;
	margin-left:210px;
}

#ficha{
	border-width:2px;
	border-style:solid;
	border-color:#e8e8e8;
	width:596px;
	float:right;
	padding:15px;
}

#datos{
	float:right;
	}
	
#datos td{
	color:#11161a;
	padding-bottom:10px;
	}
	
div#compra {
	padding: 6px 0 25px 0;
	width:255px;
	}
	
.mini{
	font-size:12px;
	color:#737373;
	padding:0;
	margin:0;
	}
	
div#compra span {
	padding-bottom:5px
	}
	
div#compra img {
	padding-top:3px;
	margin-left:-1px;
	margin-right:1px;
	}
	
hr {
  	border: 0;
	color: #e8e8e8;;
	background-color: #e8e8e8;;
	height: 2px;
	margin: 0 0 15px 0;
	}
	
.autor-mas, .cita {
	font-size:16px;
	font-family: 'HalvettCondensedBold', arial, serif;
	line-height:24px;
	text-transform:uppercase;
	}

.cita {
	color:#737373;
	}

ul#mas-libros {
	margin-top:10px;
	}

ul#mas-libros li {
	display:block;
	float:left;
	width:136px;
	padding:0 16px 0 1px;
	}
	
ul#mas-libros li.ultimo {
	padding:0 0 0 1px;
	}
	
ul#mas-libros li a img {
	padding: 0 0 5px 0;
	}
	
ul#mas-libros li a:hover {
	text-decoration:none
	}
	
ul#mas-libros li a span:hover {
	text-decoration:underline;
	}
	
.addthis_toolbox {
	float:right;
	padding:4px 4px 0 0;
	}
	
.addthis_toolbox a{
	color:#a0a0a0;
	}
	
#buscador {
	width:238px;
	height:40px;
	margin:5px 0 55px 8px;
	background-image:url(../images/buscador-fondo.jpg);
	background-repeat:no-repeat;
	}
	
#buscador-titulo {
	font-family: 'HalvettCondensedBold', arial, serif;
	font-size:17px;
	margin:0 0 0 8px;
	color:#7c8061;
	}
	
#buscador input {
	float:left;
	margin-top:10px;
	}
	
#cuadro-busqueda {
	height:20px;
	width:190px;
	margin-left:12px;
	margin-right:4px;
	border-style:none;
	background-color:#f9f6fa;
	}
	
ul.listadoA {
	display:block;
	float:left;
	width:180px;
	font-size:12px;
	color:#737373;
	margin-right:28px;
}

ul.listadoA li {
	display:block;
	padding:2px 0 8px 0;
}

ul.listadoA li hr {
	padding:0;
	margin:0;
}

ul.listadoA a {
	display:block;
	font-family: 'HalvettCondensedBold', arial, serif;
	font-size:22px;
}

ul.dcha {
	margin:0px;
}

ul.listadoB {
	display:block;
	float:left;
	width:362px;
	font-size:12px;
	color:#737373;
	margin-right:28px;
}

ul.listadoB li {
	display:block;
	padding:2px 0 10px 0;
}

ul.listadoB li hr {
	padding:0;
	margin:0;
}

ul.listadoB a {
	display:block;
	font-size:14px;
}

#abc {
	color:#a0a0a0;
	float:left;
	padding:0 0 0 17px;
	width:185px;
	}
	
#abc .capital {
	font-family: 'HalvettCondensedBold', arial, serif;
	font-size:90px;
	line-height:95px;
	padding:0 10px 0 0;
	}
	
#abc .info {
	font-size:14px;
	padding:0;
	margin:0;
	}
	
#abc .letras {
	font-size:20px;
	letter-spacing:5px;
	line-height:35px;
	}
	
#abc .letras a {
	font-size:20px;
	letter-spacing:-5px;
	}
	
#paginacion {
	font-size:14px;
	margin:15px 0 0 0;
	color:#737373;
	line-height:34px;
	text-align:center;
	}
	
#paginacion .previous_page{
	width:68px;
	height:32px;
	display:block;
	float:left;
	background-image:url(../images/anterior.jpg);
	background-repeat:no-repeat;
	padding:0 0 0 24px;
	margin:0 10px 0 0;
	text-align:left;
	}
	
#paginacion .next_page{
	width:80px;
	height:32px;
	display:block;
	float:right;
	background-image:url(../images/siguiente.jpg);
	background-repeat:no-repeat;
	padding:0 0 0 12px;
	margin:0 0 0 10px;
	text-align:left;
	}
	
#paginacion a.next_page:hover{
	text-decoration:none;
	}
	
#paginacion a.previous_page:hover{
	text-decoration:none;
	}
	
#generico {
	width:209px;
	height:120px;
	background-image:url(../images/libro-generico.jpg);
	background-repeat:no-repeat;
	float:left;
	padding:260px 20px 0 20px;
	}
	
#generico #autor {
	font-size:14px;
	text-transform:uppercase;
	color:#8db437;
	}
	
#generico #titulo {
	font-size:20px;
	color:#FFF;
	}
	
ul.resultados li {
	font-family: 'HalvettCondensedBold', arial, serif;
	color:#737373;
	/*color:#5d5d5d;*/
	font-size:14px;
	}
	
ul.resultados li a{
	font-size:14px
	font-family: 'HalvettCondensedRegular', arial, serif;
	line-height:20px;
	}
	
h4 {
	color:#666666;
	font-size:14px;
	font-family: 'HalvettCondensedBold', arial, serif;
}

p { 
	color:#737373;
	font-size:14px;
	margin-bottom:14px;
	line-height:20px;
	}
	
.normal {
	font-weight:normal;
	}

.mayusculas {
	text-transform:uppercase;
}	

.editions {
	color:#737373;
	font-weight:normal;
	margin:0 0 0 5px;
}

.editions:hover {
	text-decoration:none;
}

ul.auto {
	width:100%;
	}
	
#abc .annos {
	font-size:20px;
	line-height:35px;
	}
	
#abc .annos a {
	font-size:20px;
	margin:0 5px 0 5px;
	}
	
ul.listadoC {
	display:block;
	float:left;
	width:80px;
	font-size:12px;
	color:#737373;
	margin-right:28px;
}

ul.listadoC li {
	display:block;
	padding:2px 0 10px 0;
}

ul.listadoC li hr {
	padding:0;
	margin:0;
}

ul.listadoC a {
	display:block;
	font-size:14px;
}

.linea-separa {
	margin:0 0 0 8px;
	}
	
#submenu {
	text-align:center;
	font-size:12px;
	margin:0 0 0 8px;
	color:#8db437;
}


#submenu a {
	font-size:12px;
	margin: 0 1px 0 1px;
}

/*TABLAS*/

table.topten td { 
	padding:5px 0 5px 0;
	color:#737373;
}

table.topten td.pos, table.topten td.nombre { 
	font-family: 'HalvettCondensedBold', arial, serif;
}

table.topten td.dato{
	font-size:12px;
	color:#737373;
	padding:0;
	margin:0;
	text-align:right;
	}

.fizq {
	float:left;
	}
	
.fdcha {
	float:right;
	}
	
	/*nuevos estilos para resultados v_2*/

.mas-resultados {
	color:#a0a0a0;
	margin:0 0 0 5px;
}

.ico-mas {
	float:left;
	margin-top:-2px;
}

/*TABLAS*/

table.topten td { 
	padding:5px 0 5px 0;
	color:#737373;
}

table.topten td.pos, table.topten td.nombre a { 
	font-family: 'HalvettCondensedBold', arial, serif;
}

table.topten td.dato{
	font-size:12px;
	color:#737373;
	padding:0;
	margin:0;
	text-align:right;
	}

.fizq {
	float:left;
	}
	
.fdcha {
	float:right;
	}
	