

#breadcrumb {
	font-size:14px;
	background-image:url(/images/bread-caja.gif);
    background-repeat:repeat-x;
	height:30px;
    line-height:30px;
    /*width:100%;*/
    margin:23px 0 25px 0;
    padding:0;
	border-left-width:2px;
	border-left-style:solid;
	border-left-color:#e8e8e8;
	border-right-width:2px;
	border-right-style:solid;
	border-right-color:#e8e8e8;
}

#breadcrumb li {
	/*text-transform:uppercase;*/
    list-style-type:none;
    padding-left:15px;
	display:inline-block;
	float:left;
	
}

#breadcrumb a {
	display:inline-block;
	background-image:url(/images/bread-punta.gif);
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 25px;
    text-decoration: none;
	outline:none;
}

#breadcrumb li.end {
	color:#737373;
}

#breadcrumb a:hover {
	text-decoration:underline;
}