<h1>Resultados</h1>
<h2>Para la búsqueda <%= @busqueda.texto %></h2>

<div id="ficha">
  <% if params[:busqueda_id] %> <%#= Resultados de un solo tipo %>
    <ul class="resultados">
      <li><%= params[:tipo].capitalize %><hr/></li>
      <% for dato in @busqueda.data %>
        <li><%= link_to raw(dato.nombre.force_encoding('UTF-8')),eval("#{dato.class.name.downcase}_url('#{dato.pretty_name}')") %><hr/></li>
      <% end %>
    </ul>
    <div id="paginacion">
      <%= will_paginate @busqueda.data , :controller => 'busquedas', :renderer => 'ApplicationHelper::RestLinkRenderer' %>
    </div>
  <% else %>

    <% if params[:tipo] %> <%#= ERROR? %>


    <% else %> <%#= Resultado normal con varios tipos %>
      <ul class="resultados">
        <% if @busqueda.libros.size>0 %>
          <li>LIBROS<hr/></li> 
          <% for libro in @busqueda.libros %>
            <li><%= link_to raw(libro.nombre.force_encoding('UTF-8')),eval("#{libro.class.name.downcase}_url('#{libro.pretty_name}')") %><hr/></li>
          <% end %>
          <li><img class="ico-mas" src="/images/ico-mas.jpg" width="16" height="16" /><%= link_to "Mas resultados", busqueda_libro_url(@busqueda.texto,1), :class=>"mas-resultados" %><hr /></li>
        <% end %>
        <% if @busqueda.autores.size>0 %>
          <li>AUTORES<hr/></li> 
          <% for autor in @busqueda.autores %>
            <li><%= link_to raw(autor.nombre.force_encoding('UTF-8')), autor_url(autor.pretty_name)%><hr /></li>
          <% end %>
          <li><img class="ico-mas" src="/images/ico-mas.jpg" width="16" height="16" /><%= link_to "Mas resultados", busqueda_autor_url(@busqueda.texto,1), :class=>"mas-resultados" %><hr /></li>
        <% end %>
        <% if @busqueda.editoriales.size>0 %>
          <li>EDITORIALES<hr/></li> 
          <% for editorial in @busqueda.editoriales %>
            <li><%= link_to raw(editorial.nombre.force_encoding('UTF-8')), editorial_url(editorial.pretty_name)%><hr /></li>
          <% end %>
          <li><img class="ico-mas" src="/images/ico-mas.jpg" width="16" height="16" /><%= link_to "Mas resultados", busqueda_editorial_url(@busqueda.texto,1), :class=>"mas-resultados" %><hr /></li>
        <% end %>
        <% if @busqueda.materias.size>0 %>
          <li>MATERIAS<hr/></li> 
          <% for materia in @busqueda.materias %>
            <li><%= link_to raw(materia.nombre.force_encoding('UTF-8')), materia_url(materia.pretty_name)%><hr /></li>
          <% end %>
          <li><img class="ico-mas" src="/images/ico-mas.jpg" width="16" height="16" /><%= link_to "Mas resultados", busqueda_materia_url(@busqueda.texto,1), :class=>"mas-resultados" %><hr /></li>
        <% end %>
      </ul>
    <% end %>

  <% end %>
</div>
