<span id="buscador-titulo">Buscar</span> 
<% form_for :busqueda, nil, :url => busquedas_url, :html => {:id => 'buscador'} do |f| -%>
	<input id="cuadro-busqueda" name="busqueda" type="text" /> 
  	<input type="image" name="Submit" value="Submit" src="/images/lupa-buscador.jpg">     
<% end -%>