<%= image_tag "logo-b.jpg", :id=> 'logo' %>



<ul id="menu">
	<li>
		<%= image_tag "ico-home.gif", :class => 'ico' %> <%= link_to "Home","/" %><span>para que siempre empices con buen pie</span>
		<img class="linea-menu" src="/images/linea-menu.gif" width="237" height="3" />
	</li>
	<li>
		<%= image_tag "ico-autores.gif", :class => 'ico' %> <%= link_to "Autores","/autores/" %><span>todos los autores españoles e internacionales</span>
		<img class="linea-menu" src="/images/linea-menu.gif" width="237" height="3" />
	</li>
	<li>
		<%= image_tag "ico-epocas.gif", :class => 'ico' %> <a href="/epocas/">Epocas</a><span>de los manuscritos iluminados al siglo XXI</span>
		<img class="linea-menu" src="/images/linea-menu.gif" width="237" height="3" />
	</li>
	<li>
		<%= image_tag "ico-editoriales.gif", :class => 'ico' %> <a href="/editoriales/">Editoriales</a><span>los editores desde la invencion de la imprenta</span>
		<img class="linea-menu" src="/images/linea-menu.gif" width="237" height="3" />
	</li>
	<li>
		<%= image_tag "ico-materias.gif", :class => 'ico' %> <a href="/materias/">Materias</a><span>de la alquimia a la astrofisica</span>
		<img class="linea-menu" src="/images/linea-menu.gif" width="237" height="3" />
	</li>
</ul>

<%= render :partial => 'shared/buscador' %>

<img class="linea-separa" src="/images/linea-menu.gif" width="237" height="3" />
          
<span id="submenu"><a href="/contacto.html">CONTACTO</a>-<a href="/politica_de_privacidad.html">PRIVACIDAD</a>-<a href="/acerca_de.html">ACERCA DE ESTA WEB</a></span>
