<h1><%= @materia.nombre %></h1>
<h2>libros catalogados en esta materia</h2>
<div id="ficha">
<ul class="resultados">
  <% for libro in @libros %>
    <li><%= link_to libro.nombre, libro_url(libro.pretty_name)%><hr/></li>
  <% end %>
</ul>
</div>
<div id="paginacion">
  <%= will_paginate @libros, :controller => 'materias', :id => params[:id], :renderer => 'ApplicationHelper::RestLinkRenderer' %>
</div>
