<h1>Epocas</h1>

<% if params[:siglo] %>
  <h2>todos los libros del Siglo <%= params[:siglo] %></h2>

<div id="ficha">

<ul class="listadoC">
  <% for anno in @annosA %> 
    <li><%= link_to anno,"/epocas/siglo/#{params[:siglo]}/anno/#{anno}-1" %><hr/></li>
  <% end %>
</ul>

<ul class="listadoC">
  <% for anno in @annosB %> 
    <li><%= link_to anno,"/epocas/siglo/#{params[:siglo]}/anno/#{anno}-1" %><hr/></li>
  <% end %>
</ul>

<ul class="listadoC">
  <% for anno in @annosC %> 
    <li><%= link_to anno,"/epocas/siglo/#{params[:siglo]}/anno/#{anno}-1" %><hr/></li>
  <% end %>
</ul>

<% if @annosA==[] && @annosB==[] && @annosC==[] %>
  <ul class="listadoC">
    <li>No hay libros</li>
  </ul>
<% end %>

<div id="abc">
  <span class="capital">S.<%= params[:siglo] %></span>
  <br />
  <span class="annos">
    <% for siglo in @siglosA.values[0..-2] %><%= link_to "s.#{siglo.downcase}","/epocas/siglo/#{siglo}" %>-<% end %><%= link_to "s.#{@siglosA.values[-1].downcase}","/epocas/siglo/#{@siglosA.values[-1]}" %><br/>
	
    <% for siglo in @siglosB.values[0..-2] %><%= link_to "s.#{siglo.downcase}","/epocas/siglo/#{siglo}" %>-<% end %><%= link_to "s.#{@siglosB.values[-1].downcase}","/epocas/siglo/#{@siglosB.values[-1]}" %><br/>
	
    <% for siglo in @siglosC.values[0..-2] %><%= link_to "s.#{siglo.downcase}","/epocas/siglo/#{siglo}" %>-<% end %><%= link_to "s.#{@siglosC.values[-1].downcase}","/epocas/siglo/#{@siglosC.values[-1]}" %>
  </span>
</div>

</div>


<% else %>
    <h2>de los manuscritos iluminados al siglo XXI</h2>
	
<div id="ficha">
  <ul class="listadoA">
  <% for siglo in @siglosA.keys %> 
    <li><%= link_to "S.#{@siglos[siglo]}","/epocas/siglo/#{@siglos[siglo]}" %>
    <%= "de #{siglo*100} a #{((siglo+1)*100)-1}"%><br/><hr/></li>
  <% end %>
  </ul>

  <ul class="listadoA">
  <% for siglo in @siglosB.keys %> 
    <li><%= link_to "S.#{@siglos[siglo]}","/epocas/siglo/#{@siglos[siglo]}" %>
    <%= "de #{siglo*100} a #{((siglo+1)*100)-1}"%><br/><hr/></li>
  <% end %>
  </ul>

  <ul class="listadoA dcha">	
  <% for siglo in @siglosC.keys %> 
    <li><%= link_to "S.#{@siglos[siglo]}","/epocas/siglo/#{@siglos[siglo]}" %>
    <%= "de #{siglo*100} a #{((siglo+1)*100)-1}"%><br/><hr/></li>
  <% end %>
  </ul>
</div>

<% end %>
