<h1>Año <%= params[:anno] %></h1>
<h2>libros publicados este año</h2>
       
<div id="ficha">
  <ul class="resultados">
    <% for libro in @libros %>
      <li><%= link_to libro.titulo, libro %><hr/></li>
    <% end %>
  </ul>
</div> 

<br class="limpia" /> 
<div id="paginacion">
	<%= will_paginate @libros, :controller => 'annos' %>
</div>
