  <p class="mini">LOS DIEZ AUTORES MAS PROLIFICOS DE LA HISTORIA</p>
      <br />
      <table class="topten fizq" width="280" border="0">
        <% @autores_prolificos[0..4].each_with_index { |autor,i| %>
          <tr>
            <td class="pos"><%= i+1 %>.</td>
            <td class="nombre"><%= link_to autor.nombre, autor_url(autor) %></td>
            <td class="dato">(<%= autor.numero_de_libros %>)</td>
          </tr>
        <% } %>
     	</table>
      
      <table class="topten fdcha" width="280" border="0">
        <% @autores_prolificos[5..-1].each_with_index { |autor,i| %>
          <tr>
            <td class="pos"><%= i+6 %>.</td>
            <td class="nombre"><%= link_to autor.nombre, autor_url(autor) %></td>
            <td class="dato">(<%= autor.numero_de_libros %>)</td>
          </tr>
        <% } %>
     	</table>
    
    <br class="limpia" />
    <br class="limpia" />
      
