<div id="compra">
        	<span class="mini">Puede comprar este libro en:</span>
            <br />
   		<a href="http://www.amazon.es/gp/product/<%= @libro.isbn.gsub(/-/,'') %>?ie=UTF8&tag=prospectos-20&linkCode=xm2&camp=1789&creativeASIN=<%= @libro.isbn.gsub(/-/,'') %>"><img src="/images/boton-amazon.gif" width="117" height="32" alt="comprar en amazon" /></a><a href="http://www.casadellibro.com/homeAfiliado?ca=9000&isbn=<%= @libro.isbn.gsub(/-/,'') %>"><img src="/images/boton-casa-del-libro.gif" width="135" height="32" alt="comprar en la casa del libro" /></a>  
  </div>
