<p class="mini">LAS DIEZ EDITORIALES CON MAS LIBROS PUEBLICADOS</p>
      <br />
      <table class="topten fizq" width="280" border="0">
        <% @editoriales_prolificas[0..4].each_with_index { |editorial,i| %>
          <tr>
            <td class="pos"><%= i+1 %>.</td>
            <td class="nombre"><%= link_to editorial.nombre, editorial_path(editorial) %></td>
            <td class="dato">(<%=editorial.numero_de_libros %>)</td>
          </tr>
        <% } %>
     	</table>
      
      <table class="topten fdcha" width="280" border="0">
        <% @editoriales_prolificas[5..-1].each_with_index { |editorial,i| %>
          <tr>
            <td class="pos"><%= i+6 %>.</td>
            <td class="nombre"><%= link_to editorial.nombre, editorial_path(editorial) %></td>
            <td class="dato">(<%= editorial.numero_de_libros %>)</td>
          </tr>
        <% } %>
     	</table>
