<hr />
<p class="mini">OTROS LIBROS DE</p>

<%= link_to @libro.autor.nombre, autor_url(@libro.autor), :class => 'autor-mas' if @libro.autor %><br />
<br />
<ul id="mas-libros">
  <% for libro in @otros %>
    <% if libro==@otros[-1] %>
      <li class="ultimo">
      <% else %>
        <li>
        <% end %>

        <a href="<%= libro_url(libro) %>">
          <img class="miniatura" src="http://ec2.images-amazon.com/images/P/<%= libro.isbn_foto ||= libro.isbn.gsub(/-/,"")%>.01._SCLZZZZZZZ_SX134_.jpg" alt="<%= libro.titulo %>"/>
          <span>
            <%= libro.titulo %>
      </span></a></li>

    <% end %>
  </ul>
  <script type="text/javascript">
    $('.miniatura').each(function( intIndex ){
        $(this).load(function() {
          var width = $(this).width();
          if (width<134) $(this).attr("src","/images/portada-mini-no-disponible.gif");
          });
        });
</script>
