<ul id="mas-libros">
	<% for recomendado in @recomendados[0..-2] %>
	  <li><a href="<%= libro_url(recomendado.libro) %>"><img class="miniatura" src="http://ec2.images-amazon.com/images/P/<%= recomendado.libro.isbn_foto ||= recomendado.libro.isbn.gsub(/-/,"")%>.01._SCLZZZZZZZ_SX134_.jpg" alt="<%= recomendado.libro.titulo %>"/><span><%= recomendado.libro.titulo %></span></a></li>
	
									<% end %>
									<li class="ultimo"><a href="<%= libro_url(@recomendados[-1].libro) %>"><img class="miniatura" src="http://ec2.images-amazon.com/images/P/<%= @recomendados[-1].libro.isbn_foto ||= @recomendados[-1].libro.isbn.gsub(/-/,"")%>.01._SCLZZZZZZZ_SX134_.jpg" alt="<%= @recomendados[-1].libro.titulo %>"/><span><%= @recomendados[-1].libro.titulo %></span></a></li>
								  </ul>
								  <script type="text/javascript">
									$('.miniatura').each(function( intIndex ){
										$(this).load(function() {
										  var width = $(this).width();
										  if (width<134) $(this).attr("src","/images/portada-mini-no-disponible.gif");
										  });
										});
	</script>

