<div id="social">
  <!-- AddThis Button BEGIN -->
  <div class="bloque addthis_sharing_toolbox"></div>
  </div>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5493fe13289b772b" async="async"></script>
  <!-- AddThis Button END -->
</div>
