<%= render :partial => 'social' %>
<div id="ficha">
        <p class="mini">LIBROS RECOMENDADOS</p>
      <a href="#" class="autor-mas"><%= @semana_del %></a>
      <br />
      <%= render :partial => 'recomendados' %>
      <br class="limpia" />
      <br class="limpia" />
      <hr />
      <p class="mini">LA CITA DEL DIA</p>
      <span class="cita"><%= Cita.cita_del_dia.texto %></span><br/>
      <p class="ediciones"><%= link_to Cita.cita_del_dia.autor.nombre, autor_url(Cita.cita_del_dia.autor) %></p>
      <hr />
      <%= render :partial => 'autores_prolificos' %>
      <hr />
      <%= render :partial => 'editoriales_prolificas' %>
</div>
