<h1 id='titulo_libro'><%= @libro.titulo %></h1>
<%#= FIXME: Poner un enlace al autor  %>
<h2><%= @libro.autor.nombre if @libro.autor %></h2>
<h2><%= 'Autor Desconocido' if !@libro.autor %></h2>

<%= render :partial => 'social' %>
<div id="ficha">

  <img id="book" src="http://ec2.images-amazon.com/images/P/<%= @libro.isbn_foto ||= @libro.isbn.gsub(/-/,"")%>.01._SCLZZZZZZZ_SX249_.jpg" />
  <script type="text/javascript">

    $('#book').load(function() {
        var width = $('#book').width();
        var cadena = '<div id="generico"><span id="autor">' + $('#nombre_autor').text() +
        '</span><br /><span id="titulo">' +
        $('.end:first').text() + '</span>'
        if (width<249) $('#book').replaceWith(cadena)
        });
      </script>

      <table id="datos" width="330px" border="0">
        <tr>
          <td width="120"><h3>N. depósito leg.:</h3></td>
          <td class="concept"><%= @libro.deposito_legal %> <br /> <%= @libro.oficina_deposito_legal %></td>
        </tr>
        <tr>
          <td width="120"><h3>ISBN:</h3></td>
          <td class="concept"><%= @libro.isbn %></td>
        </tr>
        <tr>
          <td width="120"><h3>Idioma:</h3></td>
          <td class="concept"><%= @libro.idioma_t %></td>
        </tr>
        <tr>
          <td width="120"><h3>Idioma Original:</h3></td>
          <td class="concept"><%= @libro.idioma_original_t %></td>
        </tr>
        <tr>
          <td width="120"><h3>Autor:</h3></td>
          <td id="nombre_autor" class="concept"><%= link_to @libro.autor.nombre, autor_url(@libro.autor) if @libro.autor %></td>
        </tr>
        <tr>
          <td width="120"><h3>Titulo:</h3></td>
          <td class="concept"><%= @libro.titulo %><br /> <%= "#{@libro.medio} / #{@libro.state_of_responsability}" %></td>
        </tr>
        <tr>
          <td width="120"><h3>Edición:</h3></td>
          <td class="concept"><%= @libro.edicion ||= "-" %></td>
        </tr>
        <tr>
          <td width="120"><h3>Publicación:</h3></td>
          <!-- FIXME: Deberiamos unir editoriales con libros por id (En la tabla de libros)-->
          <td class="concept"><%= @libro.lugar_de_publicacion.gsub(/[\[\]<>]/,'') if @libro.lugar_de_publicacion %>: <%= link_to @libro.editor, editorial_url(Editorial.find_by_nombre(@libro.editor)) if @libro.editor %>; <%=@libro.fecha_de_publicacion.gsub(/[\[\]<>]/,'') if @libro.fecha_de_publicacion %></td>
        </tr>
        <tr>
          <td width="120"><h3>Páginas:</h3></td>
          <td class="concept"><%= @libro.paginas %></td>
        </tr>
        <tr>
          <td width="120"><h3>Tamaño:</h3></td>
          <td class="concept"><%= @libro.tamano %></td>
        </tr>
        <tr>
          <td width="120"><h3>Serie:</h3></td>
          <td class="concept"><%= @libro.serie %></td>
        </tr>
      </table>
      <br class="limpia" />

      <%= render :partial => 'compra' %>

      <%= render :partial => 'otros_libros_de' if @otros %>
    </div>
