<h1>Autores</h1>
<h2>todos los autores españoles e internacionales</h2>

<div id="ficha">
<% if params[:letra_id]%>
	<ul class="listadoB">		
		<% for autor in @autores %>
			<li>
				<%= link_to autor.nombre, autor_url(autor.pretty_name) %><hr/>
			</li>
		<% end %>		
	</ul>
	<div id="abc">
		<span class="capital"><%= params[:letra_id].upcase %></span><span class="info"><%= "página #{params[:page]} de #{@autores.total_pages}"%></span>
		<br /> 
		<span class="letras">
		<% for letra in @letras  %>
			<% if letra.upcase!=params[:letra_id]%>
				<%= link_to letra.upcase,"/autores/#{letra.upcase}-1"  %>
			<% end%>
		<% end %>
		</span>
	</div>
</div>
	<br class="limpia" /> 
	<div id="paginacion">
    <%= will_paginate @autores, :controller => 'autores', :letra_id => params[:letra_id], :renderer => 'ApplicationHelper::RestLinkRenderer' %>
	</div>
<% else %>
	<ul class="listadoA"> <%# Columna 1 %>
		<% for letra in @letrasA.keys.sort %>
			<li>
				<%= link_to letra.upcase, "/autores/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
			</li>
		<% end %>
	</ul>
	<ul class="listadoA"> <%# Columna 2 %>
		<% for letra in @letrasB.keys.sort %>
			<li>
				<%= link_to letra.upcase, "/autores/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
			</li>
		<% end %>
	</ul>
	
	<ul class="listadoA dcha"> <%# Columna 2 %>
		<% for letra in @letrasC.keys.sort %>
			<li>
				<%= link_to letra.upcase, "/autores/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
			</li>
		<% end %>
	</ul>
<% end %>



