<h2><%= @autor.nombre %></h2>
<div id="ficha">
<ul class="resultados">
	<% for anno in @annos.keys.sort %>
		<li><%= anno %><hr/></li>
		<% for key in @annos[anno] %>
			<li class="mayusculas"><%= @titulos[key][0].titulo_uniforme! %></li>
			<hr/>
			<li class="normal">Ediciones:<hr/></li>
			<% for libro in @titulos[key] %>
				<li><%= link_to libro.edicion ? "#{libro.editor} (#{libro.edicion})" : libro.editor, libro_url(libro) %><hr/></li>
			<% end %>
		<% end %>
	<% end %>
</ul>
</div>
