<!DOCTYPE html>
<html>
  <%# encoding: utf-8 %>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', :charset=> "utf-8" %>
    <script src="/fonts/specimen_files/easytabs.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/fonts/specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css" charset="utf-8" />

    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'breadcrumb' %>

    <title>Literatura.com.es</title>
    <%= csrf_meta_tag %>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
          $('#container').easyTabs({defaultContent:1});
          });
</script>

</head>

<body>

  <!--[if IE]>
  <style type="text/css">

    .activo {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.Gradient(
    GradientType=0, 
    startColorstr=#1EFFFFFF, /* first two digits are a hex value [0-255] for transparency (7F = 50% Opacity. FF = 100% 				Opacity. 00 = 0% Opacity. ) */
    endColorstr=#1EFFFFFF
    );
    zoom: 1;
    } 



  </style>
  <![endif]-->

  <div id="contenedor">

    <div id="izquierda">
      <%= render :partial => 'shared/menu' %>
    </div>

    <div id="derecha">
      <%= render :partial => 'shared/cabecera' %>
      <%= yield %> 
    </div>

    <br class="limpia" /> 

  </div>
  <!-- Piwik --> 
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.div.com.es/" : "http://stats.div.com.es/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script><noscript><p><img src="http://stats.div.com.es/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
</body>
</html>
