<h1>Editoriales</h1>
<h2>todos las editoriales españolas e internacionales</h2>

<div id="ficha">
  <% if params[:letra_id]%>
    <ul class="listadoB">		
      <% for editorial in @editoriales %>
        <li>
          <%= link_to editorial.nombre, "#{editorial_url(editorial.pretty_name)}-1" %><hr/>
        </li>
      <% end %>		
    </ul>
    <div id="abc">
      <span class="capital"><%= params[:letra_id].upcase %></span><span class="info"><%= "página #{params[:page]} de #{@editoriales.total_pages}"%></span>
      <br /> 
      <span class="letras">
        <% for letra in @letras  %>
          <% if letra.upcase!=params[:letra_id]%>
            <%= link_to letra.upcase,"/editoriales/#{letra.upcase}-1" %>
          <% end%>
        <% end %>
      </span>
    </div>
  </div>
  <br class="limpia" /> 
  <div id="paginacion">
    <%= will_paginate @editoriales, :controller => 'editoriales', :id => params[:letra_id], :renderer => 'ApplicationHelper::RestLinkRenderer' %>
  </div>
<% else %>
  <ul class="listadoA"> <%# Columna 1 %>
    <% for letra in @letrasA.keys.sort %>
      <li>
        <%= link_to letra.upcase, "/editoriales/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
      </li>
    <% end %>
  </ul>
  <ul class="listadoA"> <%# Columna 2 %>
    <% for letra in @letrasB.keys.sort %>
      <li>
        <%= link_to letra.upcase, "/editoriales/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
      </li>
    <% end %>
  </ul>

  <ul class="listadoA dcha"> <%# Columna 2 %>
    <% for letra in @letrasC.keys.sort %>
      <li>
        <%= link_to letra.upcase, "/editoriales/#{letra.upcase}-1/" %> de <%= @letras[letra][0] %> a <%= @letras[letra][1] %><br/><hr/>
      </li>
    <% end %>
  </ul>



<% end %>




